/* styles.css */
body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    width: 150px;
    cursor: pointer;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: gray;
}

.container-fluid {
    padding: 20px;
}

h2 {
    margin: 0 20px 15px;
}

/*Tv shows filters */
.btn-genres {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-genres:hover {
    background-color: white;
    color: black;
}

.filter-View {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: 0.3s;
}

.filter-View:hover {
    background: white;
    color: black;
}

/* Carousel */
.carousel {
    margin: 0 40px;
}

.card {
    border: none;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}
