/* styles.css */
body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
}

.header-bg-image {
    background-image: url('https://movieplayer.net-cdn.it/t/images/2023/01/17/the-last-of-us-recensione-serie-tv-primo-episodio-1x01_jpg_1200x0_crop_q85.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.top-ten {
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}

.top-ten h4 {
    margin-left: 15px;
}

.top-ten-icon {
    width: 30px;
    height: auto;
}

.play-btn {
    background-color: white;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 15px;
}

.info-btn {
    background-color: white;
    opacity: 60%;
    font-size: 20px;
    margin-top: 15px;
}

/* Header su mobile */

@media (max-width: 768px) { 
    .header-bg-image {
        height: 40vh;
    }
    
    .col-4, .col-8 {
        flex: 1;
    }

    .top-ten h4 {
        font-size: 1rem;
    }
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar.scrolled {
    position: fixed;
    background: black !important;
}

.navbar-brand {
    width: 150px;
    cursor: pointer;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: gray;
}

.container-fluid {
    padding: 20px;
}

h2 {
    margin: 0 20px 15px;
}

.log-in {
    padding: 0;
    background-color: transparent;
    border: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.log-in:hover {
    background-color: grey
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

/*Tv shows filters */
.btn-genres {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-genres:hover {
    background-color: white;
    color: black;
}

.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle.show {
    background-color: white !important;
    color: black !important;
    border-color: #ccc !important;
}

.filter-View {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: 0.3s;
}

.filter-View:hover {
    background: white;
    color: black;
}

/* Carousel */
.carousel-inner {
    padding: 0 0 40px 40px;
}

.card {
    border: none;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

/*Footer */
.footer {
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
}

.footer a {
    color: #b3b3b3;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.social-icons i {
    color: #b3b3b3;
    font-size: 20px;
    padding: 10px;
}

.service-code {
    background: transparent;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.service-code:hover {
    border-color: white;
    color: white;
}